html {
  background: url("https://coolwallpapers.me/th700/5100308-weightlifting-dark-minimal-art-4k-8k.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label {
  color: white;
}

form {
  border: 3px solid yellow;
  display: flex;
  width: 60%;
  margin: 0 auto;
  margin-top: 15%;
}

input {
  width: 15%;
}

.workouts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#root {
  width: 100%;
}
