#history-title {
  color: white;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
}

td,
th {
  color: white;
  padding: 2px;
}

tr a {
  text-decoration: none;
}

.tableDiv {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.date-table-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: white;
}

.date-table-container .checkbox {
  display: inline;
  width: 20px;
  padding: 0px 10px;
}

.workouts {
  width: 40%;
  color: white;
  margin: 0 auto;
}

.table {
  width: 30%;
  font-size: 0.7em;
  flex: display;
  border: 1px solid white;
  border-radius: 25px;
}

#card {
  background-color: rgb(47, 47, 47);
  border-radius: 20px;
}

@media only screen and (max-width: 800px) {
  .date-table-container input[type="checkbox"] {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
  }
  input[type="checkbox"]:checked {
    background: #abd;
  }

  .tableDiv h4 {
    font-size: small;
  }
}

@media only screen and (max-width: 600px) {
  #history-title h1 {
    font-size: medium;
  }
  #root {
    height: 100%;
  }
  .tableDiv {
    flex-direction: column;
    width: 10%;
    font-size: xx-small;
    margin: 0px;
  }

  .workouts {
    width: 30%;
    margin-left: 0;
  }

  .date-table-container input[type="checkbox"] {
    /* -webkit-appearance: none; */
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
  }
  input[type="checkbox"]:checked {
    background: #abd;
  }

  .tableDiv h4 {
    font-size: small;
  }

  #card {
    margin: 5px;
  }
}
