body {
  color: white;
}

article {
  border: 5px solid salmon;
  width: 30%;
  font-size: 0.7em;
}

button {
  font-size: 0.7em;
}

td,
th {
  border: 1px solid red;
  background: rgb(114, 114, 114);
  border-radius: 5px;
}
