#root {
  background: url("https://coolwallpapers.me/th700/5100308-weightlifting-dark-minimal-art-4k-8k.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  font-size: 0.7em;
}

td,
th {
  /* background: rgb(114, 114, 114); */
  border-radius: 10px;
  color: white;
}

.workouts {
  width: 40%;
  color: white;
  margin: 0 auto;
}

/* Table {
  width: 10%;
  font-size: 0.7em;
  flex: display;
} */
