nav {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 1em;
  background-color: rgb(140, 139, 139);
  color: #fff;
}

nav h1 {
  display: flex;
  align-content: center;
  margin: 0 auto;
  font-size: x-large;
}
