.footer {
  display: flex;
  margin-top: auto;
  padding: 0.5em;
  background-color: rgb(154, 153, 149);
  /* position: sticky;
  bottom: 0;
  left: 0; */
  width: 100%;
  justify-content: center;
}

.icons {
  display: flex;
  padding: 16px;
}

a {
  margin: 0px 5px;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
