.footer {
  display: flex;
  margin-top: 1em;
  padding: 1em;
  background-color: rgb(154, 153, 149);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.icons {
  display: flex;
  padding: 16px;
}

a {
  margin: 0px 5px;
}
